.git__auth {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: rotatex(10deg);
          transform: rotatex(10deg);
  -webkit-animation: rotateAngle 6s linear infinite;
          animation: rotateAngle 6s linear infinite;
  width: 30%;
  height: 30%;
  position: absolute;
  z-index: 999;
  top: 35%;
  left: 35%;
  background-color: #181620;
  padding: 20px;
  border-radius: 10px;
}

.git__auth .cross {
  fill: #FF1731;
  cursor: pointer;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

.git__auth .cross:hover {
  fill: #fff;
}

.git__auth input {
  width: 70%;
  height: 20%;
  margin: 10px auto;
  border-radius: 7px;
  border: none;
  padding: 10px;
}

.git__auth button {
  display: block;
  position: relative;
  margin: 1em auto;
  width: 60%;
  height: 40%;
  cursor: pointer;
  background: #FFFFFF;
  border: none;
  border-radius: .4em;
  text-transform: uppercase;
  font-size: 1.4em;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  mix-blend-mode: color-dodge;
  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.git__auth button:before, .git__auth button:after {
  --z: 0px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  opacity: 0;
  mix-blend-mode: inherit;
  border-radius: inherit;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
          transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
}

.git__auth button span {
  mix-blend-mode: none;
  display: block;
}

.git__auth button:after {
  background-color: #5D00FF;
}

.git__auth button:before {
  background-color: #FF1731;
}

.git__auth button:hover {
  background-color: #FFF65B;
  -webkit-transition: background .3s 0.1s;
  transition: background .3s 0.1s;
}

.git__auth button:hover:before {
  --z: 0.04;
  -webkit-animation: translateWobble 2.2s ease forwards;
          animation: translateWobble 2.2s ease forwards;
}

.git__auth button:hover:after {
  --z: -0.06;
  -webkit-animation: translateWobble 2.2s ease forwards;
          animation: translateWobble 2.2s ease forwards;
}

@-webkit-keyframes rotateAngle {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(10deg);
            transform: rotateY(0deg) rotateX(10deg);
    -webkit-animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
            animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
  }
  25% {
    -webkit-transform: rotateY(20deg) rotateX(10deg);
            transform: rotateY(20deg) rotateX(10deg);
  }
  50% {
    -webkit-transform: rotateY(0deg) rotateX(10deg);
            transform: rotateY(0deg) rotateX(10deg);
    -webkit-animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
            animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
  }
  75% {
    -webkit-transform: rotateY(-20deg) rotateX(10deg);
            transform: rotateY(-20deg) rotateX(10deg);
  }
  100% {
    -webkit-transform: rotateY(0deg) rotateX(10deg);
            transform: rotateY(0deg) rotateX(10deg);
  }
}

@keyframes rotateAngle {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(10deg);
            transform: rotateY(0deg) rotateX(10deg);
    -webkit-animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
            animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
  }
  25% {
    -webkit-transform: rotateY(20deg) rotateX(10deg);
            transform: rotateY(20deg) rotateX(10deg);
  }
  50% {
    -webkit-transform: rotateY(0deg) rotateX(10deg);
            transform: rotateY(0deg) rotateX(10deg);
    -webkit-animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
            animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
  }
  75% {
    -webkit-transform: rotateY(-20deg) rotateX(10deg);
            transform: rotateY(-20deg) rotateX(10deg);
  }
  100% {
    -webkit-transform: rotateY(0deg) rotateX(10deg);
            transform: rotateY(0deg) rotateX(10deg);
  }
}

@-webkit-keyframes translateWobble {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
            transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
  }
  16% {
    -webkit-transform: translate3d(calc(var(--z) * 160px), calc(var(--z) * 160px), calc(var(--z) * 160px));
            transform: translate3d(calc(var(--z) * 160px), calc(var(--z) * 160px), calc(var(--z) * 160px));
  }
  28% {
    opacity: 1;
    -webkit-transform: translate3d(calc(var(--z) * 70px), calc(var(--z) * 70px), calc(var(--z) * 70px));
            transform: translate3d(calc(var(--z) * 70px), calc(var(--z) * 70px), calc(var(--z) * 70px));
  }
  44% {
    -webkit-transform: translate3d(calc(var(--z) * 130px), calc(var(--z) * 130px), calc(var(--z) * 130px));
            transform: translate3d(calc(var(--z) * 130px), calc(var(--z) * 130px), calc(var(--z) * 130px));
  }
  59% {
    -webkit-transform: translate3d(calc(var(--z) * 85px), calc(var(--z) * 85px), calc(var(--z) * 85px));
            transform: translate3d(calc(var(--z) * 85px), calc(var(--z) * 85px), calc(var(--z) * 85px));
  }
  73% {
    -webkit-transform: translate3d(calc(var(--z) * 110px), calc(var(--z) * 110px), calc(var(--z) * 110px));
            transform: translate3d(calc(var(--z) * 110px), calc(var(--z) * 110px), calc(var(--z) * 110px));
  }
  88% {
    opacity: 1;
    -webkit-transform: translate3d(calc(var(--z) * 90px), calc(var(--z) * 90px), calc(var(--z) * 90px));
            transform: translate3d(calc(var(--z) * 90px), calc(var(--z) * 90px), calc(var(--z) * 90px));
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(calc(var(--z) * 100px), calc(var(--z) * 100px), calc(var(--z) * 100px));
            transform: translate3d(calc(var(--z) * 100px), calc(var(--z) * 100px), calc(var(--z) * 100px));
  }
}

@keyframes translateWobble {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
            transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
  }
  16% {
    -webkit-transform: translate3d(calc(var(--z) * 160px), calc(var(--z) * 160px), calc(var(--z) * 160px));
            transform: translate3d(calc(var(--z) * 160px), calc(var(--z) * 160px), calc(var(--z) * 160px));
  }
  28% {
    opacity: 1;
    -webkit-transform: translate3d(calc(var(--z) * 70px), calc(var(--z) * 70px), calc(var(--z) * 70px));
            transform: translate3d(calc(var(--z) * 70px), calc(var(--z) * 70px), calc(var(--z) * 70px));
  }
  44% {
    -webkit-transform: translate3d(calc(var(--z) * 130px), calc(var(--z) * 130px), calc(var(--z) * 130px));
            transform: translate3d(calc(var(--z) * 130px), calc(var(--z) * 130px), calc(var(--z) * 130px));
  }
  59% {
    -webkit-transform: translate3d(calc(var(--z) * 85px), calc(var(--z) * 85px), calc(var(--z) * 85px));
            transform: translate3d(calc(var(--z) * 85px), calc(var(--z) * 85px), calc(var(--z) * 85px));
  }
  73% {
    -webkit-transform: translate3d(calc(var(--z) * 110px), calc(var(--z) * 110px), calc(var(--z) * 110px));
            transform: translate3d(calc(var(--z) * 110px), calc(var(--z) * 110px), calc(var(--z) * 110px));
  }
  88% {
    opacity: 1;
    -webkit-transform: translate3d(calc(var(--z) * 90px), calc(var(--z) * 90px), calc(var(--z) * 90px));
            transform: translate3d(calc(var(--z) * 90px), calc(var(--z) * 90px), calc(var(--z) * 90px));
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(calc(var(--z) * 100px), calc(var(--z) * 100px), calc(var(--z) * 100px));
            transform: translate3d(calc(var(--z) * 100px), calc(var(--z) * 100px), calc(var(--z) * 100px));
  }
}
/*# sourceMappingURL=gitAuth.css.map */